Source: napi-bash
Section: net
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper-compat (= 12), p7zip-full
Standards-Version: 4.3.0
Homepage: https://3ed.github.io/napi-bash/
Vcs-Browser: https://github.com/mati75/napi-bash.git
Vcs-Git: https://github.com/mati75/napi-bash.git

Package: napi-bash
Architecture: all
Depends: ${misc:Depends}, p7zip-full, curl
Recommends: libnotify-bin
Description: Light and fast Polish subtitle downloader from the napi-project
 Napi-bash is bash fork napi.py and expanded with many new features, 
 program is running in cli interface. Assumptions of the simplicity, 
 lightness, speed and minimized requirements. This application 
 download Polish subtitle from the napi-project.
