#!/usr/bin/make -f
export PREFIX=/usr

%:
	dh $@ --with autoreconf

override_dh_install:
	chmod +x debian/napi-bash/etc/bash-completion/completions/napi-bash
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs -k debian/changelog.upstream-polish
